@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

._container {
    @apply mx-auto px-[20px] max-w-[1000px];
}

.h_screen {
    height: calc(100vh - 40px);
}

.min_h_screen {
    min-height: calc(100vh - 40px);
}

@media screen and (max-width: 1040px) {
    .h_screen {
        height: calc(100vh - 49px);
    }

    .min_h_screen {
        min-height: calc(100vh - 49px);
    }
}

/* Flex utils */

.flex-center {
    @apply flex items-center justify-center;
}
.flex-start {
    @apply flex items-start justify-start;
}
.flex-end {
    @apply flex items-end justify-end;
}
