@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    font-family: 'Noto Sans', sans-serif;
}

._container {
    @apply mx-auto px-[20px] max-w-[1000px];
}

.h_screen {
    height: calc(100vh - 40px);
}

.min_h_screen {
    min-height: calc(100vh - 40px);
}

@media screen and (max-width: 1040px) {
    .h_screen {
        height: calc(100vh - 49px);
    }

    .min_h_screen {
        min-height: calc(100vh - 49px);
    }
}

/* Custom Utils */

.flip-y {
    transform: rotateY(180deg);
}

