@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    font-family: 'Noto Sans', sans-serif;
}

._container {
    @apply mx-auto px-[20px] max-w-[1000px] md:px-0;
}

.h_screen {
    height: calc(100vh - 40px);
}

.min_h_screen {
    min-height: calc(100vh - 40px);
}

@media screen and (max-width: 1040px) {
    .h_screen {
        height: calc(100vh - 49px);
    }

    .min_h_screen {
        min-height: calc(100vh - 49px);
    }
}

/* Custom Utils */

.flip-y {
    transform: rotateY(180deg);
}

.triangle::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 32%;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 20px solid transparent;
    transform: rotate(225deg);
    @apply border-b-slate-100 border-b-[20px];
}

.fade-out {
    transition: opacity 0.2s ease-in-out;
}

.bg_people {
    background-image: url('/people.png');
    background-repeat: no-repeat;
    background-position: 630px 30px;
    background-size: 600px auto;
    -webkit-background-size: 600px auto;
    -moz-background-size: 600px auto;
    -o-background-size: 600px auto;
}
@media screen and (max-width: 1040px) {
    .bg_people {
        background-position: 1000px 30px;
        background-size: 500px auto;
        -webkit-background-size: 500px auto;
        -moz-background-size: 500px auto;
        -o-background-size: 500px auto;
    }
}
@media screen and (max-width: 900px) {
    .bg_people {
        background-position: 450px 180px;
        background-size: 400px auto;
        -webkit-background-size: 400px auto;
        -moz-background-size: 400px auto;
        -o-background-size: 400px auto;
    }
}
@media screen and (max-width: 746px) {
    .bg_people {
        background-position: 380px 280px;
        background-size: 400px auto;
        -webkit-background-size: 400px auto;
        -moz-background-size: 400px auto;
        -o-background-size: 400px auto;
    }
}
